body { 
/*	background-image: url('http://bibliotecha.info/wp-content/uploads/2014/04/Bibliotecha_Book_sm_blue30.jpg'); 
	background-repeat: repeat; 
	background-position: top center; 
	background-attachment: fixed; */
}

body {
    padding: 0px !important;
    margin-top: 0px !important;
    height: 100%;
}

body {
    font-family: times;
    line-height: 1.42857;
    background-color: rgb(255, 255, 255);
    font-size: 22px;
    color: black;

}
#container{width: 80%; margin: 0 auto;}

h1{
    letter-spacing: 1px;
    text-align: center;
    font-size: 32px;
}

h1#uploading{
    position:absolute;
}

h2{
    text-align: center;
}

h3{
	font-size: 22px;
	text-align: center;
}

.topContainer {
    padding-top: 60px;
}
.topContainer h1{font-size: 28px;margin-bottom: 10px; margin-top:0;}
.topContainer hr{margin-top:40px;}
.slogan{
    font-style: italic;
}
.thinny{font-weight: normal;}
/*.main-content{margin-top:30px;}*/
.splash-menu a, .splash-menu a:active, .splash-menu a:visited, .splash-menu a:focus{color: black !important; text-decoration: none;}
.splash-menu a:hover{color: black !important; text-decoration: underline;}
.sub{font-style: italic; text-align: center; }
hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color:black;
    border-image: none;
    border-right: 0 none;
    border-style: solid none none;
    border-width: 1px 0 0;
    margin-bottom: 20px;
    margin-top: 20px;
    -moz-box-sizing: content-box;
    height: 0;
}
#bibliotechaBadgeOuterWrap{text-align: center;}
#bibliotechaBadgeWrap {
    display: inline-block;
    text-align: left;
}
pre#bibliotechaBadge{
    text-align: center;
    color: black;
    font-size: 10px;
    font-family: monospace;
    background-color: transparent;
    border: 0;
    overflow: hidden;
}

a{color: black;
  text-decoration: none;
 }
a:visited{color: black}

a:focus {
    outline: thin dotted;
    outline-offset: -2px;
}
a:hover, a:focus {
	color:black;
    text-decoration: underline;
}


input, button{
    /*font-size: 22px;*/
    padding:8px;
}

table {
    border-style: none;

}


td{
    padding:20px;
    padding-top:50px;
    vertical-align: top;
    
}
#form-container{width: 100%; margin: 0 auto;}

#form{
    /*float: left;
    width:35%;
    padding-left:2.5%;
    padding-right: 2.5%;*/
    padding-top:25px;
}
#form h2{font-size: 22px; letter-spacing: 1px; font-weight: normal;}
#form input{width: 80%; border: 1px solid #666;}

#text{
    float: left;
    width:53%;
    padding-top:25px;
    padding-bottom: 60px;
    padding-left:2.5%;
    padding-right: 2.5%;
    font-size: 32px;
    letter-spacing: 1px;
    border-right: 1px solid #fff;
}
.clear{clear: both;}

#response{text-align: center;}
#response h2, #response h3{font-weight: normal;}

#aboutTrigger{cursor: pointer;}
#aboutWrapper{
	display: none;
	text-decoration: none;
	text-align: justify;
	margin-top: 30px;
}

/* form logic elements */
input, input[type="file"], button{border: none; }
button{cursor: pointer; display:block;}
#add_author{width: 4em;cursor: pointer; padding: 2px 8px; background-color: #ddd; color: #333; text-align: center; font-size: .5em; margin-top:12px; font-family: Arial, Helvetica, sans-serif;}
.remove_field{width: 3em; cursor: pointer; padding: 2px 12px 2px 8px; background-color: #ddd; color: #660000;  background-color: #DDDDDD; margin-left: 2px; position: relative; top: 3px; width: 3em; text-align: center;}
/* form validation styles */
/* Z-INDEX */
.formError { z-index: 990; }
.formError .formErrorContent { z-index: 991; }
.formError .formErrorArrow { z-index: 996; }
    
.formErrorInsideDialog.formError { z-index: 5000; }
.formErrorInsideDialog.formError .formErrorContent { z-index: 5001; }
/*.formErrorInsideDialog.formError .formErrorArrow { z-index: 5006; }*/

.inputContainer {
	position: relative;
	float: left;
}

.formError {
	position: absolute;
	top: 300px;
	left: 300px;
	display: block;
	cursor: pointer;
}

.ajaxSubmit {
	padding: 20px;
	background: #55ea55;
	border: 1px solid #999;
	display: none
}

.formError .formErrorContent {
	width: 100%;
	background: #ee0101;
	position:relative;
	color: #fff;
	width: 150px;
	font-size: 11px;
	border: 1px solid #ddd;
	padding: 4px 10px 4px 10px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

.greenPopup .formErrorContent {
	background: #33be40;
}

.blackPopup .formErrorContent {
	background: #393939;
	color: #FFF;
}

.formError .formErrorArrow {
	width: 15px;
	margin: -2px 0 0 13px;
	position:relative;
}
body[dir='rtl'] .formError .formErrorArrow,
body.rtl .formError .formErrorArrow {
	margin: -2px 13px 0 0;
}

.formError .formErrorArrowBottom {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	margin: 0px 0 0 12px;
	top:2px;
}

.formError .formErrorArrow div {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	font-size: 0px;
	height: 1px;
	background: #ee0101;
	margin: 0 auto;
	line-height: 0;
	font-size: 0;
	display: block;
}

.formError .formErrorArrowBottom div {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

.greenPopup .formErrorArrow div {
	background: #33be40;
}

.blackPopup .formErrorArrow div {
	background: #393939;
	color: #FFF;
}

.formError .formErrorArrow .line10 {
	width: 15px;
	border: none;
}

.formError .formErrorArrow .line9 {
	width: 13px;
	border: none;
}

.formError .formErrorArrow .line8 {
	width: 11px;
}

.formError .formErrorArrow .line7 {
	width: 9px;
}

.formError .formErrorArrow .line6 {
	width: 7px;
}

.formError .formErrorArrow .line5 {
	width: 5px;
}

.formError .formErrorArrow .line4 {
	width: 3px;
}

.formError .formErrorArrow .line3 {
	width: 1px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 0 solid #ddd;
}

.formError .formErrorArrow .line2 {
	width: 3px;
	border: none;
	background: #ddd;
}

.formError .formErrorArrow .line1 {
	width: 1px;
	border: none;
	background: #ddd;
}
@media(max-width:767px){
    
.splash-menu{padding: 30px 0 30px 0; border-bottom: 1px solid black; width: 90%; margin: 0 auto;}
.splash-menu:last-of-type{border-bottom: none;}
.splash-menu a{text-decoration: underline;}
.splash-menu a:hover,.splash-menu a:active{text-decoration: none;}

}

div.uploading{display:none; margin-right:auto; margin-left:auto;}

img.uploading{width:70px; display:block; margin-right:auto; margin-left:auto;}

p.uploading{color:rgba(38, 38, 38, 0.68);
	    font-weight:bold; 
	    margin-right:auto; 
	    margin-left:auto; 
	    width:600px;}


