html {
    font-family: 'League Spartan', Helvetica, sans-serif;
}
@font-face {
    font-family: 'Fanwood Text';
    src: url('../fonts/fanwood_text-webfont.eot');
    src: url('../fonts/fanwood_text-webfont.eot?#iefix') format('embedded-opentype'),
      url('../fonts/fanwood_text-webfont.woff') format('woff'),
      url('../fonts/fanwood_text-webfont.ttf') format('truetype');
  }

@font-face {
    font-family: 'League Spartan';
    src: url('../fonts/LeagueSpartanVariable.woff2') format('woff2-variations');
    font-weight: 200 900;
  }