html {
    text-align: center;
    height:100%
}

ion-slides {
    height: 100%;
  }

ion-tab-bar[current-path="/onboard"] {
      display: none;
  }
img {
    width:50%;
}

.slideImage {
    /* position: absolute;
    top: 20px;
    left:0;
    right:0; */
    text-align: center;
    margin-bottom:15px !important;
    max-width: 60%;
    text-align: center;
    margin: 0 auto;
}

.swipeRight {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    bottom: 40px;
    left: 0;
    right: 0;
    text-align: center;
    margin-bottom:15px !important;
    max-width: 50%;
    text-align: center;
    margin: 0 auto;
}

.forceBullshit{
    position: absolute;
    left:0;
    right:0;
    top:10%;
}